In [1]:
import numpy as np
import pandas as pd
import os
import matplotlib.pyplot as plt 
import seaborn as sns

In [2]:
os.getcwd()

'/home/version/Projects/mlprojects'

In [3]:
df = pd.read_csv("stud_data.csv")

In [4]:
df1=df.copy()

df1['average'] =( (df['math_score'] + df['reading_score'] + df['writing_score'])/3 ).round(0)
df1.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score,average
0,female,group B,bachelor's degree,standard,none,72,72,74,73.0
1,female,group C,some college,standard,completed,69,90,88,82.0
2,female,group B,master's degree,standard,none,90,95,93,93.0
3,male,group A,associate's degree,free/reduced,none,47,57,44,49.0
4,male,group C,some college,standard,none,76,78,75,76.0

In [5]:
features = list( df1.columns ) 
# features.remove('average') 
# features.remove('math_score') 
features

['gender',
 'race_ethnicity',
 'parental_level_of_education',
 'lunch',
 'test_preparation_course',
 'math_score',
 'reading_score',
 'writing_score',
 'average']

In [6]:
encoded_df = pd.get_dummies(df1[features])
list(encoded_df.columns)
#encoded_df.shape

['math_score',
 'reading_score',
 'writing_score',
 'average',
 'gender_female',
 'gender_male',
 'race_ethnicity_group A',
 'race_ethnicity_group B',
 'race_ethnicity_group C',
 'race_ethnicity_group D',
 'race_ethnicity_group E',
 "parental_level_of_education_associate's degree",
 "parental_level_of_education_bachelor's degree",
 'parental_level_of_education_high school',
 "parental_level_of_education_master's degree",
 'parental_level_of_education_some college',
 'parental_level_of_education_some high school',
 'lunch_free/reduced',
 'lunch_standard',
 'test_preparation_course_completed',
 'test_preparation_course_none']

In [7]:
encoded_df.head()

,math_score,reading_score,writing_score,average,gender_female,gender_male,race_ethnicity_group A,race_ethnicity_group B,race_ethnicity_group C,race_ethnicity_group D,...,parental_level_of_education_associate's degree,parental_level_of_education_bachelor's degree,parental_level_of_education_high school,parental_level_of_education_master's degree,parental_level_of_education_some college,parental_level_of_education_some high school,lunch_free/reduced,lunch_standard,test_preparation_course_completed,test_preparation_course_none
0,72,72,74,73.0,True,False,False,True,False,False,...,False,True,False,False,False,False,False,True,False,True
1,69,90,88,82.0,True,False,False,False,True,False,...,False,False,False,False,True,False,False,True,True,False
2,90,95,93,93.0,True,False,False,True,False,False,...,False,False,False,True,False,False,False,True,False,True
3,47,57,44,49.0,False,True,True,False,False,False,...,True,False,False,False,False,False,True,False,False,True
4,76,78,75,76.0,False,True,False,False,True,False,...,False,False,False,False,True,False,False,True,False,True

In [8]:
X = encoded_df
X= X.drop(['average','writing_score','reading_score'],axis=1)
# Y = df1.average
Y = encoded_df.average

In [9]:
from sklearn.svm import SVR
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error,r2_score

In [10]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size=0.3, random_state=43)

In [11]:

scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [12]:

svr = SVR(kernel='rbf', C=1.0, epsilon=0.1)
svr.fit(X_train,Y_train)

SVR()

In [13]:
Y_pred = svr.predict(X_test)
#Y_pred

In [14]:
mse = mean_squared_error(Y_test, Y_pred)
print("Mean Squared Error:", mse)

Mean Squared Error: 54.00913222069513

In [15]:
r2 = r2_score(Y_test,Y_pred)
print("R2 Score:", r2*100)

R2 Score: 70.3204924215106